
@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>
<hr />
<form method="post" action="/Auth/ResetPassword">
    <table>
        <tr>
            <td>username</td>
            <td><input type="text" name="username" id="username" /></td>
        </tr>
        <tr>
            <td>OldPassword</td>
            <td><input type="text" name="OldPassword" id="OldPassword" /></td>
        </tr>
        <tr>
            <td>NewPassword</td>
            <td><input type="text" name="NewPassword" id="NewPassword" /></td>
        </tr>
        <tr>
            <td>RESET PASSWORD</td>
            <td><button type="submit">ResetPassword</button></td>
        </tr>
        

    </table>
</form>

